a {
    color: crimson;
    text-decoration: none;
    
    
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: crimson;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: crimson;
  transform-origin: left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.about {
    color: #eaeaea;
}

p span {
    font-style: italic;
}

span :last-child {
    color: crimson;
}

.creators a {
    font-family: 'PT Serif', sans-serif;
    font-weight: bold;
}

.cta h2 {
    color: crimson;
    font-family: 'Lato', sans-serif;
}

li:nth-child(odd) {
    text-decoration: underline;
}